@import "../../theme/theme.scss";
.code {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    color: $white;
    font-size: 32px;
    text-align: left;
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;
  }
}
