@import "../../theme/theme.scss";

.info {
  margin-top: 50px;
  width: 100%;

  &__inner {
    padding: 30px 0px;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Nunito", sans-serif;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__image {
    width: 493px;
    border-radius: 14px;
    height: 310px;
  }

  &__images {
    margin: 0 auto;
    max-width: 1087px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
  }
}
