$black: #000;
$black-light: #313130;
$purple-light: #9594d5;
$purple-light: #9594d5;
$purple: #7d81d6;
$btn-active: #464bad;
$white: #fbf5f5;
$black-content: #2c2c2c;
$strong-dark: #212121;
$black-content: #2c2c2c;
$strong-dark: #212121;
$border-color: #ddd;

//added for proper displaying request statuses
$green-apple: #4caf50;
$sunshine-yellow: #ffeb3b;
$pastel-red: #ff6b6b;
$cool-grey: #9e9e9e;
