@import "../../../theme/theme.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $black-light;
  padding: 30px;
  margin-bottom: 40px;
  font-family: "Nunito", sans-serif;
  border-radius: 15px;
  box-shadow: 0 0 20px $btn-active;
  color: $white;
}

.login div {
  margin-top: 7px;
}

.welcome {
  margin-top: 146px;
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 40px;
    color: $black;
  }
}

.link {
  color: $purple-light;
}

.login__btn {
  &:hover {
    background-color: $btn-active;
  }
}
