@import "../../theme/theme.scss";

@keyframes move1 {
  0% {
    transform: translateY(0px) rotate(-9.46deg);
  }

  50% {
    transform: translateY(25px) rotate(-9.46deg);
  }

  100% {
    transform: translateY(0px) rotate(-9.46deg);
  }
}

@keyframes move2 {
  0% {
    transform: translateY(0px) rotate(27deg);
  }

  50% {
    transform: translateY(25px) rotate(27deg);
  }

  100% {
    transform: translateY(0px) rotate(27deg);
  }
}

.welcome {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1155px;
    width: 100%;
  }

  &__preview {
    max-width: 1087px;
    width: 100%;
    position: relative;

    &__image {
      position: absolute;
    }

    &__left {
      left: 0;
      top: 0;
      transform: rotate(-9.46deg);
      box-shadow: 22px 25px 13px 0 rgba(0, 0, 0, 0.25);
      border-radius: 17px;
      animation: move1 5s ease-in-out infinite;
    }

    &__right {
      right: 0;
      top: 0;
      transform: rotate(27deg);
      box-shadow: -18px 42px 13px 0 rgba(0, 0, 0, 0.25);
      border-radius: 37px;
      animation: move2 5s ease-in-out infinite;
    }
  }

  &__title {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: $black;
    max-width: 439px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  &__subtitle {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: $black;
    margin-top: 1px;
  }

  &__btns {
    display: flex;
    column-gap: 46px;
    margin-top: 48px;
    justify-content: center;
  }
}

.links__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  column-gap: 48px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 36px;
  color: #000;
  font-family: "Nunito", sans-serif;
  background-color: $purple;
  border-radius: 15px;
  transition: 0.4s ease-in-out;

  &:hover {
    background-color: $btn-active;
  }
}
