.try {
    width: 100%;
    position: relative;
    &__inner {
        height: 600px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}